// Styles for Building Blocks previews.

.docs-bb {
  margin-bottom: 1rem;
  @include grid-row($behavior: nest);
}

.docs-bb-thumb {

  a {
    display: block;
  }

  img {
    border: 1px solid $medium-gray;

    &:hover {
      border-color: $primary-color;
    }
  }

  @include grid-col(4);
}

.docs-bb-main {

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  @include grid-col(8);
}
