.welcome-hero {
  background-color: $primary-color;
  padding: 2rem;
  font-family: 'Proxima Nova', sans-serifs;

  .welcome-hero-message {
    position: relative;
    top: 0%;
    transform: translateY(-0%);
  }

  .welcome-hero-title {
    color: white;
    line-height: 3.2rem;
    margin-bottom: 1rem;
    font-family: 'Proxima Nova', sans-serifs;
  }

  .welcome-hero-lead {
    color: lighten($primary-color, 40%);
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.responsive-embed iframe {
  height: 315px;
}
