.welcome-hero {
  background-color: $primary-color;
  padding: 2rem;

  .docs-page-title {
    color: $white;
    line-height: 3rem;
  }

  .docs-page-lead {
    color: $white;
  }
}

.responsive-embed iframe {
  height: 315px;
}
