// Labels that appear next to titles in the page header

.docs-js.has-tip {
  border-bottom: 0;
}

.docs-js.label {
  background: #F0DB4F;
  color: black;
  margin-left: 10px;
  vertical-align: sub;
}

.docs-mui.label {
  background: #c6538c;
  margin-left: 10px;
  vertical-align: sub;
}

.docs-lib.label {
  margin-left: 10px;
  vertical-align: sub;

  a {
    color: white;
  }
}

.docs-flex.label {
  margin-left: 10px;
  vertical-align: sub;

  a {
    color: white;
  }
}
