// Component navigation menu seen on every page.

.docs-nav.menu {
  margin-top: 0.5rem;
  background: #fafafa;
  padding-top: 1rem;
  padding-bottom: 1rem;

  li small {
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60%;
    display: block;
    margin-top: 5px;
  }

  a {
    font-size: 0.85rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &:hover {
      background: rgba(#000, 0.05);
    }
  }

  .current a {
    background: rgba(#000, 0.05);
  }

  .label {
    background-color: #ddd;
    color: #777;
    margin-left: 5px;
    padding: 0.22222rem 0.44444rem 0.22222rem;
    font-size: 0.61111rem;
  }
}

.docs-nav-title {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #999;
  font-weight: bold;
  line-height: 1;
  padding-left: 0.9rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid #e9e9e9;
  margin-top: 1rem;
  padding-top: 1.5rem;
}

.docs-nav-version {
  padding-left: 0.9rem;
  font-weight: bold;
  font-size: 0.75rem;
  margin-bottom: -0.5rem;
  margin-top: -0.4rem;

  .menu & a {
    margin-left: 6px;

    &:hover {
      background: transparent;
    }
  }
}
