// Styles specific to the main page content.

.docs-page-title {
  margin-top: 0.5rem;
  display: inline-block;
  vertical-align: middle;
}

.docs-page-lead {
  margin-bottom: 0.5rem;
}

.docs-component section {
  position: relative;
}

.docs-component hr {
  max-width: none;
}

.docs-component .thumbnail {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.docs-component .callout code {
  background: rgba($code-background, 0.5);
}
