// Styles for the search bar and results list.

.twitter-typeahead {
  display: block !important;
  position: relative;

  &::before {
    content: '\f16c';
    display: block;
    position: absolute;
    top: 0.4rem;
    left: 0.9rem;
    z-index: 1;
    font-family: 'foundation-icons';
    font-size: 1.75rem;
    color: $dark-gray;
  }
}

.docs-search:not(.tt-input),
.tt-input,
.tt-hint {
  right: 0;
  padding-left: 3rem;
  margin-bottom: 0rem;
  box-shadow: none;
//  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
//  border-width: 1px 0;
  font-size: 1.3rem;
  height: 3.5rem;
  font-weight: 300;
  border: 1px solid #e0e0e0;
  border-top: none;
  border-bottom: none;

  &:hover {
//    box-shadow: none;
  }

  &:focus {
//    border-width: 1px 0;
//    border: none;
    border: 1px solid #e0e0e0;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
  }
}

.tt-menu {
  background: white;
  width: 100%;
  border: 1px solid #ccc;
}

.tt-suggestion {
  @include clearfix;
  padding: 0.5rem;

  &:hover,
  &.tt-cursor {
    background: $primary-color;
    color: #fff;
    cursor: pointer;

    .meta {
      color: #fff;
    }
  }

  .name {
    font-weight: bold;
  }

  .meta {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $dark-gray;
    margin-left: 0.5rem;
  }

  .desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include breakpoint(medium) {
    padding: 1rem;

    .name {
      float: left;
      width: 40%;
    }

    .desc {
      float: left;
      width: 60%;
    }
  }
}

.tt-empty {
  padding: 1rem;

  &:before {
    content: ':(';
    font-weight: bold;
    font-size: 2rem;
    color: #999;
    margin-left: 1rem;
    margin-right: 2rem;
  }
}

.secondary-bar {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
  border-bottom: 1px solid #e0e0e0;
}

.version-dropdown {
  
}

.version-menu-list {
  
}

.version-dropdown-label {
  color: $black;
  display: block;
  width: 100%;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: $medium-gray transparent transparent;
}

.version-dropdown-menu {
  
}

.version-dropdown-menu-link {
  
  a {
    color: $black;
    font-size: 1rem;
  }
}


.github-button {
  margin-left: 1rem;
}

.social-container {
  padding-top: 0.9rem;
}

.social-list {
  list-style: none;
  margin-bottom: 0;
  
  li {
    display: inline-block;
  }
  
}

.foundation-version-label {
  font-size: 0.9rem;
  color: #6c6c6c;
  display: block;
  margin-bottom: 0.3rem;
}


.foundation-version-number {
  
}