// Table of contents anchored to the right of each page.

.docs-toc {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $medium-gray;
  font-size: 0.85rem;

  @include breakpoint(large) {
    display: block !important;
    border-bottom: 0;
  }

  .active {
    background: $primary-color;
    color: white;
  }

  .menu .docs-nav-title {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
  }
}

// .docs-toc-wrap.is-stuck {
//   max-height: calc(100vh - 1rem);
//   overflow-y: auto;
// }
