// Table of contents anchored to the right of each page.

.docs-toc {
  padding-bottom: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  border-bottom: 1px solid $medium-gray;
  font-size: 1rem;

  max-height: 100vh;
  padding-bottom: 100px;
  overflow-y: auto;
  &.is-stuck {
    width: 100%;
  }

  @include breakpoint(large) {
    display: block !important;
    border-bottom: 0;
  }

  .menu > li > a {
    line-height: 1.5;
    padding: 0.45rem 1rem;
    font-size: 0.85rem;
  }

  .is-active {
    background: $primary-color;
    color: white;
  }

  .menu .docs-nav-title {
    margin-top: 1rem;
    border-top: 0;
    padding-top: 0;
  }
}

.foundation-toc-ad-unit {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  > div {
    padding: 1rem;
//    border: 1px solid #cacaca;
    margin-bottom: 2rem;
  }
}

.docs-toc-wrap.fixed {
  position: fixed;
}


.ad-unit {
  max-width: 250px;
  padding: .5rem;
  border-top: 3px solid $primary-color;
  box-shadow: 0 2px 10px rgba(0,0,0,0.17);
  background-color: $white;
}

.ad-unit-title {
  padding: 10px 16px 5px 16px;
  text-align: center;
  color: darken($dark-gray,30%);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'proxima nova', helvetica, arial;
  animation:  ad-title-anim 1.5s 1 ease;
  animation-fill-mode: backwards;
}

.ad-unit-text {
  color: $dark-gray;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1.5rem;
  animation:  ad-text-anim 1s 1 ease;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.ad-unit-button {
  margin-bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
}


@keyframes ad-title-anim {
  0%   { opacity: 0; transform: translateY(50%); }
  100% { opacity: 1; }
}

@keyframes ad-text-anim {
  0%   { opacity: 0; transform: scale(.7, .7); }
  100% { opacity: 1; transform: scale(1, 1);}
}

.docs-contribute-menu {
  list-style: none;

  li {
    padding: 0.3rem 0rem;
  }

  li a {
    color: #939393;
    transition: color 0.35s ease;
    font-size: 0.85rem;
  }

  li a:hover {
    color: #000000;
    transition: color 0.35s ease;
  }
}

.docs-toc-divider {
  border-bottom: 1px dashed #c3c3c3;
  
  &.small {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
