// Table of contents anchored to the right of each page.

.docs-toc {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $medium-gray;
  font-size: 1rem;

  @include breakpoint(large) {
    display: block !important;
    border-bottom: 0;
  }
  
  .menu > li > a {
    line-height: 1.5;
    padding: 0.45rem 1.5rem;
  }

  .active {
    background: $primary-color;
    color: white;
  }

  .menu .docs-nav-title {
    margin-top: 1rem;
    border-top: 0;
    padding-top: 0;
  }
}

.foundation-toc-ad-unit {
  > div {
    padding: 5px;
    border: 1px solid #cacaca;
  }
}
// .docs-toc-wrap.is-stuck {
//   max-height: calc(100vh - 1rem);
//   overflow-y: auto;
// }

.docs-contribute-menu {
  list-style: none;
  
  li {
    padding: 0.45rem 0rem;
  }
  
  li a {
    color: #939393;
    transition: color 0.35s ease;
  }
  
  li a:hover {
    color: #000000;
    transition: color 0.35s ease;
  }
}

.docs-toc-divider {
  border-bottom: 1px dashed #c3c3c3;
}