.docs-header,
.docs-site-title,
.docs-page-title,
.docs-page-lead,
.docs-heading,
.docs-nav,
.docs-toc,
.docs-sub-menu,
.docs-big-index strong,
.docs-small-index h4,
.twitter-typeahead,
.banner-info,
.banner-info h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a > code {
  background: transparent;
  border: 0;
  padding: 0;
  color: $primary-color;
}
