.video-close {
  display: none;
}


// Move the video for desktops
@include breakpoint(large up) {
  .docs-video-inner.is-stuck.playing {
    position: fixed;
    z-index: 10000;
    left: 2%;
    top: auto;
    bottom: 20px;
    transform: none;
    width: 340px;
    border-radius: 4px;
    box-shadow: 0 -1px 10px rgba(#000, 0.2);
    opacity: 0.7;
    transition: all 150ms ease-in-out;
    // padding: 0 0.5rem;
    display: block;
    padding: 15px;

    .close-button {
      font-size: rem-calc(24);
      right: 2px;
      top: -6px;
      color: $black;
    }
  }

}
// fullscreen vid for mobile
@include breakpoint(small only) {
  .docs-video-inner.playing {
    position: fixed;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 15px;
    background-color: #fff;
    .close-button {
      font-size: rem-calc(24);
      right: 2px;
      top: -6px;
      color: $black;
    }
  }
}

