
.docs-video-inner {
  transition: all 150ms ease-in-out;
  .expand-contract, .close-button {
    position: absolute;
    color: $black;
    display: none;
    top: 0;
  }

  .expand-contract {
    right: 30px;
    font-size: 0.8rem;
    cursor: pointer;
  }

  .close-button {
    right: 4px;
    top: 4px;
    font-size: 0.8rem;
  }
}

@include breakpoint(small only) {
  .docs-video-inner.playing .close-button {
    display: block;
  }
}

// Move the video for desktops
@include breakpoint(large up) {
  .docs-video-inner.is-stuck.autostick {
    position: fixed;
    z-index: 10000;
    right: 2%;
    top: auto;
    bottom: 20px;
    transform: none;
    width: 340px;
    border-radius: 0px;
    // padding: 0 0.5rem;
    display: block;
    padding: 20px;
    background-color: #fff;
    .close-button, .expand-contract {
      display: block;
    }
    &.expanded {
      top: 10%;
      bottom: auto;
      left: 50%;
      width: 640px;
      transform: translateX(-50%);
      z-index:1001;
      .expand-contract::before {
        content: "\f10d";
      }
    }
  }
  .video-overlay.expanded {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index:1000;
  }

}
// fullscreen vid for mobile
@include breakpoint(small only) {
  .docs-video-inner.playing {
    position: fixed;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 15px;
    background-color: #fff;
    .close-button {
      font-size: 0.8rem;
      right: 4px;
      top: 4px;
      color: $black;
    }
  }
}

