<!-- <section class="docs-building-blocks">
  {{#heading 2}}Building Blocks{{/heading}}

  <p><a href="http://zurb.com/building-blocks">Building Blocks</a> is a ZURB-curated resource with useful code snippets that use Foundation components. Here are a few for this component:</p>

  <div class="warning callout">
    <p>These are placeholder items. If you have ideas for building blocks for this component, <a href="https://github.com/zurb/foundation-sites-6/issues/118">we're taking ideas on GitHub</a>.</p>
  </div>

  <div data-building-blocks></div>
</section> -->
