<header class="welcome-hero" id="docs-header">
  <div class="welcome-hero-content">
    <div class="welcome-hero-message">
      <h1 class="welcome-hero-title">{{ title }}</h1>
      <p class="welcome-hero-lead">{{ description }}</p>
    </div>
    <div class="welcome-hero-video">
      <div class="widescreen responsive-embed">
        <iframe width="500" height="315" src="https://www.youtube.com/embed/JC6xMe_2EFE" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</header>
