<article class="docs-component" id="docs-{{escape title}}">

<!--<a href="#docs-menu" class="small secondary button expanded hide-for-medium mobile-nav-button">Jump to Nav</a>-->

{{> header}}

{{!-- Start container for docs and table of contents --}}
<div class="row docs-component-inner">

{{!-- Start container for docs --}}
<div class="large-9 columns" id="docs">

{{ docs }}

{{#if sass}}
<hr>
{{> sass-reference}}
{{/if}}

{{#if js}}
<hr>
{{> javascript-reference}}
{{/if}}

{{#if sass}}
<!-- <hr> -->
{{> building-blocks}}
{{/if}}

</div>
{{!-- End container for docs --}}



</div>
{{!-- End container for docs and table of contents --}}

</article>
{{> table-of-contents}}
